body{
    min-height: 100vh;
    background: url("../img/bg-desktop.svg") hsl(257, 40%, 49%);
    color: white;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
}
header img{
    width: 200px;
    margin: 4% 0 0 5%;
}
main{
    width: 1250px;
    display: flex;
    margin: 6.5% 0 0 5%;
}
main img{
    width: 800px;
}
.info{
    display: flex;
    flex-direction: column;
    margin: 3% 0 0% 4%;
    width: 450px;
    line-height: 1.5;
}
.info h1{
    width: 400px;
    font-size: 35px;
}
.info button{
    width: 170px;
    height: 45px;
    color: hsl(257, 40%, 49%);
    border-radius: 20px;
    border: none;
    font-size: 17px;
    box-shadow: 2px 2px 10px 4px rgb(0 0 0 / 40%);
}
.contact{
    filter: invert(100%) sepia(2%) saturate(1%) hue-rotate(118deg) brightness(104%) contrast(101%);
    width: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: end;
    width: 1350px;
}
.contact img:last-of-type{
    outline: 1px solid white;
}
